<body>

    <h1>Eldest director</h1>

<p>The youngest director in our dataset right now is <a href="/directors/<%= @director_name_old.id %>" > <%= @director_name_old.name%></a>, born on July 30, 1970.</p>

</body>
