<body>

    <h1>Youngest director</h1>

<p>The youngest director in our dataset right now is <a href="/directors/<%= @director_name.id %>" > <%= @director_name.name%></a>, born on July 30, 1970.</p>

</body>
